DDIntegration.Console/Connected Services/ShiChuangService/WebServiceForDing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lineFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectGroupsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="re_old_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectGroups" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectQuerySoapIn">
    <wsdl:part name="parameters" element="tns:SelectQuery" />
  </wsdl:message>
  <wsdl:message name="SelectQuerySoapOut">
    <wsdl:part name="parameters" element="tns:SelectQueryResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsHttpGetIn">
    <wsdl:part name="lineFlag" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectQueryHttpGetIn">
    <wsdl:part name="re_old_code" type="s:string" />
    <wsdl:part name="datetime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectQueryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsHttpPostIn">
    <wsdl:part name="lineFlag" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectGroupsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectQueryHttpPostIn">
    <wsdl:part name="re_old_code" type="s:string" />
    <wsdl:part name="datetime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectQueryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceForDingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <wsdl:input message="tns:SelectGroupsSoapIn" />
      <wsdl:output message="tns:SelectGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <wsdl:input message="tns:SelectQuerySoapIn" />
      <wsdl:output message="tns:SelectQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceForDingHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <wsdl:input message="tns:SelectGroupsHttpGetIn" />
      <wsdl:output message="tns:SelectGroupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <wsdl:input message="tns:SelectQueryHttpGetIn" />
      <wsdl:output message="tns:SelectQueryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceForDingHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <wsdl:input message="tns:SelectGroupsHttpPostIn" />
      <wsdl:output message="tns:SelectGroupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <wsdl:input message="tns:SelectQueryHttpPostIn" />
      <wsdl:output message="tns:SelectQueryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceForDingSoap" type="tns:WebServiceForDingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <soap:operation soapAction="http://tempuri.org/SelectGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <soap:operation soapAction="http://tempuri.org/SelectQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceForDingSoap12" type="tns:WebServiceForDingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <soap12:operation soapAction="http://tempuri.org/SelectGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <soap12:operation soapAction="http://tempuri.org/SelectQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceForDingHttpGet" type="tns:WebServiceForDingHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <http:operation location="/SelectGroups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <http:operation location="/SelectQuery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceForDingHttpPost" type="tns:WebServiceForDingHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGroups">
      <http:operation location="/SelectGroups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuery">
      <http:operation location="/SelectQuery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceForDing">
    <wsdl:port name="WebServiceForDingSoap" binding="tns:WebServiceForDingSoap">
      <soap:address location="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceForDingSoap12" binding="tns:WebServiceForDingSoap12">
      <soap12:address location="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceForDingHttpGet" binding="tns:WebServiceForDingHttpGet">
      <http:address location="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceForDingHttpPost" binding="tns:WebServiceForDingHttpPost">
      <http:address location="http://175.25.16.102/lyzbweb/WebServiceForDing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>